# » base64 -i .env | pbcopy
ENVIRONMENT_NAME=local
LOG_LEVEL=debug
YNAB_BASE_URL=https://api.ynab.com/v1/
YNAB_AUTHORIZE_URL=https://app.ynab.com/oauth/authorize
YNAB_TOKEN_URL=https://lumy.example.com/token
CLIENT_ID=your-ynab-client-id
MOBILE_DEEPLINK_URI=com.brandontrautmann.lumy://lumyforynab.app
WEB_DEEPLINK_URI=https://lumy.example.com
COMMUNITY_SERVER_URL=https://discord.gg/7M8SU2UDSG
ANDROID_STORE_URL=https://play.google.com/store/apps/details?id=com.brandontrautmann.lumy
IOS_STORE_URL=https://apps.apple.com/us/app/id6454931849
SUPABASE_URL=https://supabase.example.com
SUPABASE_ANON_KEY=your-supabase-anon-key
SUPPORT_EMAIL=support@lumyforynab.app
